.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
    padding: 0px 15px;
}

.sliders {
    width: 600px;
}

.slide__item {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
}
